@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main-div{
  @apply max-w-7xl p-6 
}
.heading{
  @apply text-2xl text-green-900/90 font-[700] pb-12 shadow-slate-400/10 shadow-md px-6
}
/* .select {
  ::before {
    content: "";
    margin-left: -10px;
  }

  ::after {
    content: "";
    margin-right: -10px;
  }
} */

/* @layer base {
  .active {
    @apply bg-primary_light text-white;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
